body {
    font-family: Palatino, Georgia, serif;
    font-size: 18px;
    background: #C0C0C0;
    word-spacing: 0.1em;
    /* body is centered */
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

h1, h1 a {
	font-size: 60px;
	width: 100%;
	text-align: center;
    font-weight: normal;
    font-family: 'Cardo';
    color: #727272;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 5px;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none !important;
}

a {
    text-decoration: none;
    color: #727272;
}

a:hover {
    text-decoration: underline !important;
}

p, ul {
    line-height: 25px;
}

hr {
    border-top: 1px dotted #BDC496;
    border-bottom: 0px;
}

h2 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
    font-family: 'Cardo';
    color: #61314F !important;
}

div.post h2, div.post h2 a, div.post a, div.post h2 a:hover {
    text-decoration: none !important;
    color: #61314F !important;
}

div.post p a:hover, div.post p a:hover, a:hover {
    text-decoration: underline !important;
}

div.date {
    float: left;
    color: #999999;
}

div.tags {
    float: right;
    margin: 0px;
    text-align: right;
    color: #999999;
}

div.postbody {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.video {
    text-align:center;
}
pre {
    font-family: Courier, monospace;
    font-size: 15px;
    background-color: #EEF1DE;
    padding: 15px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

div#footer {
    clear: both;
    margin-top: 20px;
    border-top: 1px solid #C0C0C0;
}

div#footer ul {
	width: 680px;
	margin-left: auto;
	margin-right: auto;
    padding: 0px 0px 25px 0px;

}

div#footer li {
    list-style-type: none;
    float: left;
    margin: 0px 15px 0px 0px;
    padding: 0px;
}

div#feed {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0px;
}

div#feed img {
    border: 0px;
}

div#pages {
    padding-bottom: 23px;
}

div#pages p {
    width: 100%;
}

div#pages p span#prev {
    float: left;
}

div#pages p span#next {
    float: right;
}

blockquote {
	background: url("/0pointer/img/close-quote.gif") no-repeat right bottom;
	padding-left: 18px;
	text-indent: -18px;
}

blockquote:first-letter {
	background: url("/0pointer/img/open-quote.gif") no-repeat left top;
	padding-left: 18px;
}

