---
layout: default
title: 0Pointer - Pointing Nowhere
---

{% for post in paginator.posts %}

{% assign content = post.content %}
{% assign show_comments_link = true %}
{% include post.liquid %}

{% endfor %}

<div id="pages">
    <p>

{% if paginator.page > 2 %}
        <span id="prev">
            <a href="/page{{ paginator.previous_page }}">« Previous page</a>
        </span>
{% elsif paginator.page == 2 %}
     <span id="prev">
            <a href="/">« Previous page</a>
    </span>
{% endif %}

{% if paginator.page < paginator.total_pages %}
        <span id="next">
            <a href="/page{{ paginator.next_page }}">Next page »</a>
        </span>
{% endif %}

    </p>
</div>

