<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }}</title>
    <base href="http://www.marianosimone.com.ar/0pointer/" />
    <link href="css/default.css" rel="stylesheet" type="text/css" />
    <link href="css/syntax.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Cardo" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

<h1><a href="{{site.baseurl}}">0Pointer - Pointing Nowhere</a></h1>

{{ content }}


<div id="footer">
    <ul>
        <li><a href="http://www.marianosimone.com.ar/">Me</a></li>
        <li><a href="{{site.baseurl}}">Blog</a></li>
        <li><a href="{{site.baseurl}}/privacy/">Privacy Policy</a></li>
        <li><a href="{{site.baseurl}}/credits/">Credits</a></li>
    </ul>
</div>
<!--
<div id="feed">
    <a href="http://feeds.feedburner.com/?" id="feed">
        <img src="/img/feed.png" alt="Subscribe!" />
    </a>
</div>
-->
</body>
</html>
